<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Giraldo Urrego</title>
</head>
<body>
    <h1>Hola esta es la pagina de David Giraldo Urrego</h1>
    <p>En los dos ultimos meses que llevó del bootcamp he aprendido y recordado conceptos basicos, adicional, me he introducido en el mundo del backEnd
        aprendidendo: , , ,
        el manejo de las bases de datos (MySql y Postgres), realizar peticiones a las Bases de Datos
    </p>
    <ul>
        <li>Manejar nodeJS</li>
        <li>Conocer los marcos de trabajo Express y Hapi</li>
        <li>Creacion de un CRUD y enlazarlo un servidor con una base de datos</li>
        <li>El manejo de las bases de datos (MySql y Postgres)</li>
        <li>Realizar peticiones a las Bases de Datos</li>
        <li>Iniciarme en los servicios de la nube (Aun no lo tengo muy claro, pero se esta estudiando), De igual manera los Sockets</li>
        <li>Conocer gente chevere</li>
        <li>Entre muchas otras cosas</li>
    </ul>
</body>
</html>