<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>INGRID LORENA</h1>
    <h3>Mi experiencia en academia geek</h3>
    <p>Los conocimientos aprendidos en academia geek para mi van desde lo evidente, que es el desarrollo de habilidades
        tecnicas realcionadas con la programación de APIs y bases de datos, hasta el conocimiento de si mismo, la
        autogestion de tiempo.</p>
    <h3>Lo que más me ha gustado: </h3>
    <ul>
        <li>Conocer personas que como yo decidieron afrontar este desafio</li>
        <li>Algunos docentes, que disponibilizan tiempo y son empaticos para resolver dudas</li>
        <li>El acompañamiento psicologico, que nos permite cuidar de nuestra salud mental</li>        
    </ul>
    <h3>Lo que más me ha retado: </h3>
    <ul>
        <li>La autogestión de tiempo para realizar todas las actividades propuestas</li>
        <li>Algunas situación con los profesores con las que no estoy de acuerdo y que debo aceptar</li>
        <li>El uso de herramientas de desarrollo que nunca habia usado</li>        
    </ul>
    <h3>Que espero lograr</h3>
    <p>Espero adquirir las habilidades suficiente para enfrentarme al mercado de trabajo y las bases teoricas para continuar cresciendo como desarrolladora. </p>
</body>

</html>