<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juliana</title>
</head>
<body>
    <style>
        body{
            background-color: rgb(185, 148, 184);
        }
    </style>

    <marquee><h1>Experiencia en la academia</h1></marquee>
    <center><p>Hemos aprendido sobre diversos temas en las diferentes clases y/o asesorias que hemos visto.</p></center>
   
    <h2>Dificultades</h2>
    <p>Lo que más se me a dificultado es que nos dan mucha información en una clase y se me hace dificil procesar toda
        la información proporcionada, con lo que tengo más dificultad hasta el momento es con hapi, no lo tengo muy claro.
    </p>

      <h2>Lo que te gusta</h2>
      <p>M e gusta que podemos expresar nuestras dudas a los mentores (hasta fuera de las horas de clase) y ellos nos ayudan,
          tambien que podemos decir los problemas por lo que de pronto no puede hacer un trabajo a tiempo y nos dan mas plazo para ello.

      </p>
</body>
</html>