<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion</title>
</head>

<body>
    <h1>Conocimientos Aprendidos</h1>
    <ul>
        <li>Node</li>
        <li>Express</li>
        <li>MySQL</li>
        <li>Postgres</li>
        <li>Hapi</li>
        <li>GCP</li>
    </ul>
    <h1>Retos</h1>
    <ul>
        <li>Firmar con certificados SSL</li>
        <li>Aveces poco tiempo</li>
    </ul>
    <h1>Lo que mas me ha gustado</h1>
    <ul>
        <li>Bases de datos</li>
        <li>Creacion de una API</li>
        <li>Manejo de GCP</li>
    </ul>
</body>

</html>