<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco</title>
</head>

<body>

    <h1>Estadia en academia geek</h1>
    yo vengo de un piloto en academia geek en el cual me di cuenta de lo dificil que podia llegar a ser los trabajos con
    academia geek, he aprendido basicamente todo sobre programacion que se hasta dia de hoy, me gusta bastante el metodo
    de enseñar que manejan, me ha retado mucho usar hapi, me parece algo confuso, y con esto espero lograr tener una
    base para otros projectos de vida que tengo planeados para un futuro cercano
</body>

</html>