<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Div class="contenedor">
        <h1> Sindy Silva Sanchez </h1>
        <h2> Conocimientos Logrados</h2>
          <ul>
              <li>
                  Javascript 
                </li>
                <li>
                  HTML
                </li>
                <li>
                 posgres
                </li>
                <li>
                 msql
                </li>
              
          </ul>



    </Div>
    
       

        
    
</body>
</html>